html {
  box-sizing: border-box;
  background-color: #fff;
  font-family: Georgia, sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

header,
footer {
  background-color: #ffe500;
}

header {
  padding: 0 .75em;
}

strong {
  color: #2f2d13;
}

section {
  background-color: #fff;
  margin: 0;
  padding: .2em .5em .3em;
}

h1,
h2 {
  text-align: center;
  font-size: 3rem;
  font-family: "Sigmar One", cursive;
  color: #b20953;
}

h2 {
  text-align: left;
  font-size: 1.875rem;
}

li {
  display: inline-block;
  margin: .3em;
  padding: .75em;
  background-color: #b2a212;
  border-radius: 4px;
  text-align: center;
}

a {
  display: inline-block;
  font-size: 1.125rem;
  color: #fff;
  text-decoration: none;
}

a:hover {
  display: inline-block;
  background-color: #cc1465;
  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
  border-color: #b2a212;
}

a:hover {
  border-radius: 4px;
}

footer {
  text-align: center;
  padding: .75em;
}

h1 {
  margin-top: 0;
}

.nav ul {
  vertical-align: middle;
}

.nav .current {
  background-color: #b20953;
}
